* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    padding: 1rem;
}
h4 {
    display: none;
}
body {
    padding: 1rem;
    background-color: blanchedalmond;
}
#article {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
iframe {
    width: 100%;
    height: 45vh;
}
#container {
    border: 2px solid black;
    background-color:lightgrey;
}
#fun-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
}
.fun1 {
    background-color: rgb(186, 222, 234);
    padding: .5rem;
}
.fun2 {
    background-color: rgb(183, 234, 183);
    padding: .5rem;
}
.article-buttons {
    display: flex;
    flex-direction: row;
} 
#playful {
    padding-left: .5rem;
}