* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    padding: 1rem;
}
h4,
.article-buttons {
    display: none;
}

#article {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
iframe {
    width: 100%;
    height: 85vh;
}
#container {
    border: 2px solid black;
    background-color:blanchedalmond;
}
#fun-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fun1 {
    background-color: lightblue;
    padding: .5rem;
    border: 2px solid black;
}
.fun2 {
    background-color: lightgreen;
    padding: .5rem;
    border: 2px solid black;
}
/*
.article-buttons {
    display: flex;
    flex-direction: row;
} */